aiosqlite==0.22.1
altgraph==0.17.5
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
click==8.4.2
colorama==0.4.6
fastapi==0.141.1
h11==0.16.0
httptools==0.8.0
idna==3.19
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
pyaes==1.6.1
pyasn1==0.6.4
pydantic==2.13.4
pydantic-settings==2.15.0
pydantic_core==2.46.4
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.6
PyJWT==2.13.0
pystray==0.19.5
python-dotenv==1.2.3
pywin32-ctypes==0.2.3
PyYAML==6.0.3
rsa==4.9.1
setuptools==84.0.0
six==1.17.0
starlette==1.6.0
Telethon==1.44.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.52.4
watchfiles==1.2.0
websockets==17.0.1
psutil==6.0.0
